

.custom-list {
    position: relative;
    padding-left: 1.5rem; /* Adjust the padding value as needed */
  }

  .list-unstyled li:hover {
    background: var(--custom-background-color);
    color: whitesmoke;
  }
  
  .custom-list .bullet {
    position: absolute;
    left: 0;
    top: 0.75rem; /* Adjust the top value to vertically align the bullet */
    width: 0.5rem; /* Adjust the width of the bullet */
    height: 0.5rem; /* Adjust the height of the bullet */
    background-color: #000; /* Adjust the bullet color */
    border-radius: 50%;
  }

.scroll-container {
    max-height: 300px; /* Set the maximum height you desire */
    overflow: auto; /* Enable scrolling if the content exceeds the container's height */
  }
  

  /* Hide the vertical scrollbar */
  .scroll-container::-webkit-scrollbar {
    width: 0em; /* Set the width of the scrollbar */
  }
  
  .scroll-container::-webkit-scrollbar-track {
    background-color: transparent; /* Set the background color of the scrollbar track */
  }
  
  .scroll-container::-webkit-scrollbar-thumb {
    background-color: transparent; /* Set the background color of the scrollbar thumb */
  }
  
  .custom-modal{
    border: none;
  }

 
  